[submodule "sign-language-translator"]
	path = sign-language-translator
	url = https://github.com/egilhagen/sign-language-translator
[submodule "TechShop"]
	path = TechShop
	url = https://github.com/egilhagen/TechShop
